.isi-berut{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.isi-berlin{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.judul-berlin{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.card-berita-landing{
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

@media only screen and (max-width:540px){
    .card-berita-landing{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

