.wrap:hover{
    opacity: 0.6;
}

.capt{
    position: absolute;
    bottom: 120px;
}

.carousel-main-car-landing .flickity-prev-next-button{
    background-color: rgb(47,57,144);
}

.carouskel{
    width: 1280;
    height: 960;
}

@media only screen and (max-width:590px){
    .carousel-main-car-landing .flickity-prev-next-button{
        display: none;
        visibility: hidden;
    }
    .carouskel{
        width: 480;
        height: 360;
    }
}
