button.rec-dot{
    background-color: darkgrey;
    box-shadow: none;
    width: 30px;
    height: 5px;
    border-radius: 0%;
}

button.rec-dot:hover, button.rec-dot:focus  {
  background-color: #3c2be4;
  box-shadow: none;
}

button.rec-dot_active{
  background-color: rgb(102, 88, 234);
  width: 30px;
  height: 5px;
  border-radius: 0%;
}

.kartu-kep{
  border: solid 1px #dfdddd;
  border-radius: 5px;
}

.label-kep{
  font-size: x-small;
  text-transform: uppercase;
}

@media only screen and (min-width:590px){
  .car-kep .rec-carousel-wrapper .rec-carousel .rec-arrow-left, .car-kep .rec-carousel-wrapper .rec-carousel .rec-arrow-right{
    display: none;
  }

  .car-kep .rec-dot, .car-kep .rec-dot_active{
    display: none;
  }

  .car-kk .rec-dot, .car-kk .rec-dot_active{
    display: none;
  }

  .kartu-kep{
    margin-top: 0;
  }

  .label-kep{
    font-size: medium;
  }
}
