.des-update{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.carousel-main-up-landing .flickity-prev-next-button{
    background-color: rgb(47,57,144);
}

@media only screen and (max-width:590px){
    .carousel-main-up-landing .flickity-prev-next-button{
        display: none;
        visibility: hidden;
    }
}