@media only screen and (max-width:590px){
    .img-galeri-capt{
        font-size: 0.9rem;
    }

    .galeri-img{
        height: 10rem;
    }

    .galeri-img-cam{
        width: 40px;
        height: auto;
    }
}

.galeri-img{
    overflow: hidden;
    position: relative;
}


.galeri-img img, .galeri-img img{
    transition: .3s ease;
}

.galeri-img .img-galeri-thumb:hover, .galeri-img .img-galeri-thumb:hover{
    /* opacity: 0.6; */
    transform: scale(1.1);
    /* box-shadow: none; */
}

.img-galeri-capt, .img-emagz-capt{
    color: black;
}

.img-galeri-capt:hover, .img-emagz-capt:hover{
    color: rgb(47, 57, 144);
}

.galeri-img-cam{
    width: 53px;
    height: auto;
    background: #000;
    position: absolute;
    bottom: 40%;
    left: 40%;
    opacity: .7;
    padding: 4px;
    border-radius: 5px;
}

.galeri-img-cam img{
    width: 100%;
    height: auto;
}



/* http://192.168.43.105:3003 */