ol.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: -1.75rem;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ol.timeline > li:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -2.25rem;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ol.timeline{
    list-style-type: none;
    position: relative;
}

.container-lg{
    max-width: 1024px;
}

.wadah-info-det-prog{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* .gambar-up-det-prog{
    display: none;
} */