ol.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: -1.75rem;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ol.timeline > li:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -2.25rem;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ol.timeline{
    list-style-type: none;
    position: relative;
}

.container-lg{
    max-width: 1099px;
}

.wadah-info-det-prog{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.breadcrumb{
    font-size: 1.1rem;
}

.button-donasi-bawah{
    display: none;
    visibility: hidden;
}

.btn-via-bb{
    /* background-image: url(%PUBLIC_URL%/images/donasi/wa.png); */
    display: flex;
}

.judul-det-prog{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.des-det-prog{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

@media only screen and (max-width:540px){
    .button-donasi-bawah{
        display: inline;
        visibility: visible;
    }

    .button-donasi-atas{
        display: none;
        visibility: hidden;
    }

    .modal-content{
        width: 80%;
        margin:0 auto;
    }
}

/* .gambar-up-det-prog{
    display: none;
} */