@media only screen and (max-width:590px){
    .span-sisahari, .span-terkumpul{
      font-size: 0.7rem;
    }

    .kateg-wide{
      display: none;
      visibility: hidden;
    }
  }
 
  @media only screen and (min-width:590px){
   .flex-kateg{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: column;
  }

   img.img-prog{
     height: 170px;
   }

   .flex-kateg .btn:not(:disabled):not(.disabled).active{
    box-shadow: none;
  }

  .kateg-thin{
    display: none;
    visibility: hidden;
  }
  .div-judul-program{
    height: 4.5rem;
  }
 }

 .kategoriBtn{
    color: #000000;
    height: auto;
    width: auto;
}

.kategoriBtn:hover{
    color: #E92998;
    height: auto;
    width: auto;
  }

  .kategoriBtn.active {
    color: #E92998;
    height: auto;
    width: auto;
  }


  /*  */

  .item-donasi{
    float: left; 
    display: none;
}

.show{
  display: block;
}

.kontenListProgram{
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.titleListProgram{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.des-prog{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.item-donasi{
  float: left;
  display: none;
}

.show{
  display: block;
}

.flex-kateg{
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-direction: row; 
  flex-direction: row; 
  flex-flow: row wrap;
}

.flex-kateg .btn:not(:disabled):not(.disabled).active{
  box-shadow: none;
}