@media only screen and (max-width:590px){
    .car-cell-kecil{
        width: 10%;
        height: 2rem;
    }

    .car-cell-besar{
        height: 9rem;
    }

    .galeri-main .flickity-prev-next-button{
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width:591px){
    .car-cell-kecil{
        width:10%;
        height: 60px;
    }

    .car-cell-besar{
        height: 24rem;
    }
}
