.btn-daftar{
    background-color: rgb(47, 57, 144);
}

.btn-daftar:hover{
    background-color: rgb(30, 36, 88);
}

.alert-submit{
    position: absolute;
    top: 100px;
    left: 200px;
}

.form-group{
    border: 1px solid rgb(47, 57, 144);
}