.navbar-donasi{
    display: inline-flex;
    padding: 8px 8px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom:20px;
    border: none;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff0e6;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: #E92998;
}

.navbar-relawan{
    display: inline-flex;
    padding: 8px 8px;
    margin-bottom:20px;
    border: none;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff0e6;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: #2205c7;
}

@media only screen and (max-width:590px){
    .navbar-donasi, .navbar-relawan{
        margin-left: 0;
    }
}

.navbar .container-lg{
    max-width: 1096px;
}

.navbar::before{
    display: none;
}

.nav-link h3:hover{
color: #2f3990;
}