.navbar-donasi{
    display: inline-flex;
    padding: 8px 8px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom:10px;
    border: none;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background:rgb(47, 57, 144);
}

.navbar-relawan{
    display: inline-flex;
    padding: 8px 8px;
    margin-bottom:10px;
    border: 1px solid rgb(47, 57, 144);
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(47, 57, 144);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: white;
}

@media only screen and (max-width:590px){
    .navbar-donasi, .navbar-relawan{
        margin-left: 0;
    }
}

.navbar .container-lg{
    max-width: 1096px;
}

.navbar::before{
    display: none;
}

.nav-link h3:hover{
color: #2f3990;
}

.navbar-teks{
    font-size: 1.4rem;
}